<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target xsi:type="File" name="fileLog"
            fileName="${basedir}/logs/app-${date:format=yyyy-MM-dd}.log"
            layout="${date:format=HH\:mm\:ss.fff}  [${level:uppercase=true}]  ${message}${onexception:inner= | ${exception:format=tostring}}"
            maxArchiveFiles="30"
            archiveEvery="Day"
            archiveNumbering="Date"
            encoding="utf-8" />

    <target xsi:type="ColoredConsole" name="console"
            layout="${date:format=HH\:mm\:ss.fff}  [${level:uppercase=true}]  ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileLog" />
    <logger name="*" minlevel="Info"  writeTo="console" />
  </rules>
</nlog>
